@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
#btn{
    padding:12px 25px ;
    font-size: 20px;
    border-radius: 10px;
    color: beige;
    background-color: brown;
    border: none;
    
    cursor: pointer;
}
#btn:hover{
    color: black;
    background-color: beige;
    transition:0.4s ease-in-out;
}
#heading-text{
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}
#color-code{
    text-shadow: 1px 1px 1px #fff;
    font-size: 20px;
    font-weight: 600;
}